[Unit]
Description="HashiCorp Consul - Service Mesh Made Easy"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/consul/config/consul.hcl

[Service]
User=consul
Group=consul
ExecStart=/usr/local/bin/consul -config=/opt/consul/config
ExecReload=/usr/local/bin/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target